html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.header {
    background-color: #222222;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.menu {
    list-style-type: none;
    margin: 0 0 0 2vw;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none; 
    letter-spacing: 2px;
    color: white;
    padding: 10px 20px;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.menu li a:hover {
    background-color: rgb(123, 123, 123);
    color: #ffffff;
    font-weight: 700;
}

.slide {
    display: flex; 
    width: 100%; 
    justify-content: center;
    height: 60vh;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/slide.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.content {
    margin: 5px 60px;
    display: flex;
    padding-top: 30px;
}

.girona-h2 {
    font-weight: 800;
    font-size: 28px;
    padding: 10px 30px;
    background-color: #ebebeb;
    display: flex-start;
}

.girona {
    width: 60%;
}

.widget {
    width: 35%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

.widget-element {
    background-color: #222222;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 15px 40px; */
    height: 120px;
    width: 290px;
    margin: 20px 0 0 0;
    text-decoration: none;
    transition: ease 2s;
}

.widget-element:hover {
    transform: scale(1.1); 
}

.widget-h2 {
    font-weight: 800;
    font-size: 24px;
    text-align: right;
    margin: 10px 10px 0 0;
    padding: 10px 20px 0 20px;
}

.widget-element p {
    text-align: right;
    font-size: 18px;
    padding: 5px 10px;
    max-width: 270px;
    margin: 0 10px 0 0;
}

.table-container {
    width: 92%;
    margin: auto;
    border-collapse: collapse;
}

.table-container h2 {
    font-weight: 800;
    font-size: 28px;
    padding: 10px 30px;
    background-color: #ebebeb;
    display: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #ebebeb;
    color: black;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 17px;
    text-transform: capitalize;
}

td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.gallery-container {
    width: 92%;
    margin: auto;
    text-align: center;
    margin-bottom: 5vh;
}

.gallery-container h2 {
    font-weight: 800;
    font-size: 28px;
    padding: 10px 30px;
    background-color: #ebebeb;
    display: flex-start;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.gallery-item {
    width: 100%;
    height: 25vh;
    aspect-ratio: 1; /* Mantiene la proporción cuadrada para todas las celdas */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p:hover{
    transform: scale(1.05);
}

.gallery-item:nth-child(9) img {
    opacity: 12%;
}

.gallery-item:nth-child(9) p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    opacity: 100%;
}
.footer {
    background-color: #222222;
    padding: 15px 0;
    width: 100%; 
    bottom: 0;  
    z-index: 5; 
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer p {
    color: white; 
    margin: 5px 0; 
    font-weight: 700; 
    letter-spacing: 1px;
    transition: ease 0.3s;
}

.footer p:hover {
    transform: scale(1.1);
}